div.waiting-screen-container {
    margin: 30px;
    padding: 60px 30px;
    display: flex;
    flex-direction: row;
}

div.waiting-screen-container div.left-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}
div.waiting-screen-container div.right-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

div.waiting-screen-container h1.title {
    line-height: 50px;
    color: #fff;
    font-size: 45px;
    font-weight: 500;
}
