.list-container .item .margin {
    margin-right: 5px;
}

.item.item-selectable {
    border: 2px solid #41414100;
    cursor: pointer;
}

.item.item-selectable:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

.item.item-selectable.item-selected {
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color: #5e2d26;
    border: 2px solid #eb6652;
    box-shadow: 0px 0px 11px #000000a1;
    border-radius: 5px;
}

.list-container .open-playlist-pointer{
    cursor: pointer;
}
