.list-container .item .margin {
    margin-right: 5px;
}

.item.item-selectable {
    border: 2px solid #414141;
    cursor: pointer;
}

.item.item-selectable:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

.item.item-selectable.item-selected {
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color: rgb(50 99 138);
    border: 2px solid #2196f3;
    box-shadow: 0px 0px 11px #000000a1;
    border-radius: 5px;
}

.list-container .open-playlist-pointer{
    cursor: pointer;
}
