/* TODO: Mettre le style sur une div dans App.jsx */
body {
    background-color: #161616;
    margin: 0;
}

.body-container {
    background-color: #272727;
    padding: 40px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 40px;
    max-width: 80%;
}
