.bottom-player.hidden {
    display: none;
}

.bottom-player {
    display: contents;
}

button.volume-icon {
    margin-left: 10px;
}

span.volume-slider {
    width: 50%;
}

span.volume-slider.hidden {
    display: none;
    pointer-events: none;
}

.bottom-player-bar > div > div {
    margin-top: -24px;
}

.bottom-player-bar .video-info {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.bottom-player-bar .title {
    font-size: 1rem
}

.bottom-player-bar .author {
    font-size: 0.75rem
}

.bottom-player-bar div.info {
    margin-left: 10px;
}

.bottom-player-bar .progress-bar.MuiLinearProgress-root {
    background-color: rgb(94, 94, 94);
}

.youtube-iframe {
    display: none;
}