.bottom-player.hidden {
    display: none;
}

.bottom-player {
    display: contents;
}

button.volume-icon {
    margin-left: 10px;
}

span.volume-slider {
    width: 50%;
}

span.volume-slider.hidden {
    display: none;
    pointer-events: none;
}

.bottom-player-bar > div > div {
    margin-top: -24px;
}

.bottom-player-bar .video-info {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.bottom-player-bar .timer {
    font-size: 0.80rem;
    margin-left: 10px;
    display: inline-block;
}

.bottom-player-bar .timer > div{
    display: inline-block;
}

.bottom-player-bar .timer > div:nth-child(1),
.bottom-player-bar .timer > div:nth-child(3){
    width: 30px;
}

.bottom-player-bar .timer > div:nth-child(2){
    margin-left: 5px;
    margin-right: 5px;
}

.bottom-player-bar .title {
    font-size: 1rem
}

.bottom-player-bar .author {
    font-size: 0.75rem
}

.bottom-player-bar div.info {
    margin-left: 10px;
    width: 100%;
}

.bottom-player-bar span.seek-bar {
    border-radius: 0px;
    height: 3px;
}

.bottom-player-bar div.seek-bar-wrapper {
    position: absolute;
    top: -15px;
    z-index: 1;
}

.bottom-player-bar span.seek-bar span.MuiSlider-rail {
    color: #fff
}

.youtube-iframe {
    display: none;
}