.bottom-player.hidden {
    display: none;
}

.bottom-player {
    display: block;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;
    border-radius: 10px;
    width: 82%;
    margin: auto;
    padding-bottom: 10px;
    background-image: linear-gradient(to right, #272727, #2f2532, #402033, #511729, #5c1014);
}

.bottom-player div.bottom-player-bar {
    box-shadow: -0px -5px 10px #00000061;
    background-image: linear-gradient(to right, #272727, #2f2532, #402033, #511729, #5c1014);
}

.bottom-player div.bottom-player-bar > .MuiToolbar-root{
    background-color: #0000005e;
    border: 1px solid #ffffff17;
}

.bottom-player div.bottom-player-bar,
.bottom-player div.bottom-player-bar> .MuiToolbar-root {
    border-radius: 10px;
    height: 95px;
}

.bottom-player div.bottom-player-bar.toggle ,
.bottom-player div.bottom-player-bar.toggle > .MuiToolbar-root {
    border-radius: 0px 0px 10px 10px;
}

button.volume-icon {
    margin-left: 10px;
}

span.volume-slider {
    min-width: 75px;
    max-width: 100px;
}

span.volume-slider.hidden {
    display: none;
    pointer-events: none;
}

.bottom-player-bar .video-info {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.bottom-player-bar .item-infos {
    margin-top: 10px;
}

.bottom-player-bar div.info {
    margin-left: 10px;
    width: auto;
    min-width: 100px;
}

.bottom-player-bar span.seek-bar {
    height: 3px;
}

.bottom-player-bar span.seek-bar span.MuiSlider-rail {
    color: #fff
}

.bottom-player-bar div.seek-bar-wrapper {
    position: absolute;
    top: -15px;
    z-index: 1;
}

.bottom-player-bar .youtube-iframe-wrapper {
    text-align: center;
    height: 350px;
    margin-top: 0px;
    width: 100%;
    display: none;
    position: absolute;
    bottom: -350px;
    opacity: 0;
    transition: display 1s ease-out;
}

.bottom-player-bar.toggle .youtube-iframe-wrapper {
    display: block;
    bottom: 104px;
    opacity: 1;
    transition: display 1s ease-in;
}

.bottom-player-bar.toggle .youtube-iframe-wrapper iframe {
    border-radius: 10px 10px 0px 0px;
    border: 1px solid #ffffff17;
    box-shadow: -0px -5px 10px #00000061;
}

.bottom-player-bar .youtube-iframe {
    height: 100%;
    width: 100%;
}

.bottom-player-bar .drop-down-up-icon {
    transform: rotate(0deg);
    transition: transform 250ms linear;
}

.bottom-player-bar.toggle .drop-down-up-icon{
    transform: rotate(180deg);
    transition: transform 250ms linear;
}

.bottom-player-bar .timer-wrapper{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;

}

.bottom-player-bar .timer-wrapper > p{
    display: inline-block;
}

.bottom-player-bar .timer-wrapper > p:nth-child(1),
.bottom-player-bar .timer-wrapper > p:nth-child(3){
    width: 40px;
}

.bottom-player-bar .timer-wrapper > p:nth-child(2){
    margin-left: 5px;
    margin-right: 5px;
}