div.login-screen-container {
    padding: 60px 30px;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    border-radius: 10px;
    border: 1px solid #ffffff17;
}

div.login-screen-container div.left-col {
    grid-row: 1;
    align-self: center;
}

div.login-screen-container div.right-col {
    grid-row: 1;
}

div.login-screen-container div.login-button {
    margin-top: 30px;
    text-align: end;
}

/* MUI : xs size */
@media (min-width: 0px) {
    div.login-screen-container {
        padding: 30px 15px;
        grid-template-columns: 1fr;
    }

    div.login-screen-container div.left-col {
        grid-row: 2;
    }

    div.login-screen-container div.right-col {
        grid-row: 1;
        justify-self: center;
    }
}

/* MUI : sm size */
@media (min-width: 600px) {
    div.login-screen-container {
        padding: 30px 15px;
        grid-template-columns: 1fr;
    }

    div.login-screen-container div.left-col {
        grid-row: 2;
    }

    div.login-screen-container div.right-col {
        grid-row: 1;
        justify-self: center;
    }
}

/* MUI : md size */
@media (min-width: 900px) {
    div.login-screen-container {
        padding: 60px 30px;
        grid-template-columns: 1fr;
    }

    div.login-screen-container div.left-col {
        grid-row: 2;
    }

    div.login-screen-container div.right-col {
        grid-row: 1;
        justify-self: center;
    }
}

/* MUI : lg size */
@media (min-width: 1200px) {
    div.login-screen-container {
        padding: 60px 30px;
        grid-template-columns: 1fr 2fr;
    }

    div.login-screen-container div.left-col {
        grid-row: 1;
    }

    div.login-screen-container div.right-col {
        grid-row: 1;
        justify-self: end;
    }
}

@media (min-width: 1200px) {
    div.login-screen-container {
        grid-template-columns: 1.5fr 2fr;
    }
}
