.playlist-item .list-item-text-margin {
    margin-left: 20px;
}

.playlist-item .list-item-text-margin .primary {
    font-weight: 400;
}

.playlist-item .list-item-text .primary,
.playlist-item .list-item-text .secondary {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 80%;
}

.list-container .playlist-item .margin {
    margin-right: 5px;
}

.playlist-item.item-selectable {
    border: 2px solid #41414100;
    cursor: pointer;
}

.playlist-item:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

.playlist-item.item-selectable.item-selected {
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color: #5e2d26;
    border: 2px solid #eb6652;
    box-shadow: 0px 0px 11px #000000a1;
    border-radius: 5px;
}

.list-container .open-playlist-pointer{
    cursor: pointer;
}

.divider {
    margin: 5px 0px 5px 0px;
}

/* MUI : xs size */
@media (min-width: 0px) {
    div.list-item-avatar {
        width: 90px;
        height: 64px;
    }

    .playlist-item .list-item {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

/* MUI : sm size */
@media (min-width: 600px) {
    div.list-item-avatar {
        width: 100px;
        height: 71px;
    }

    .playlist-item .list-item {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

/* MUI : md size */
@media (min-width: 900px) {
    div.list-item-avatar {
        width: 125px;
        height: 89px;
    }

    .playlist-item .list-item {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

/* MUI : lg size */
@media (min-width: 1200px) {
    div.list-item-avatar {
        width: 150px;
        height: 106px;
    }
}