body {
    background-color: #161616;
    margin: 0;
}

.body-spacer {
    background-color: #121212;
    height: 30px;
    width: 100%;
    margin-top: 64px;
    position: sticky;
    top: 64px;
    z-index: 2;
}

.body-container {
    background-color: #272727;
    margin: auto;
    margin-bottom: 40px;
    max-width: 80%;
}

.body-container header {
    position: sticky;
    top: 94px;
    z-index: 2;
}
