body {
    background-image: linear-gradient(to right, #272727, #2f2532, #402033, #511729, #5c1014);
    background-attachment: fixed;
    margin: 0;
}

.body-spacer {
    background-image: linear-gradient(to right, #272727, #2f2532, #402033, #511729, #5c1014);
    height: 30px;
    width: 100%;
    margin-top: 64px;
    position: sticky;
    top: 64px;
    z-index: 2;
}

.body-container {
    background-color: #00000052;
    margin: auto;
    max-width: 80%;
}

.body-container header {
    position: sticky;
    top: 94px;
    z-index: 2;
}
