* {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.app-container {
    padding-bottom: 95px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #26060b;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b5b5b5;
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #858585;
}