/* MUI : xs size */
@media (min-width: 0px) {
    ul.list-container {
        width: 100%;
        margin: auto;
    }
}

/* MUI : sm size */
@media (min-width: 600px) {
    ul.list-container {
        width: 90%;
        margin: auto;
    }
}

/* MUI : md size */
@media (min-width: 900px) {
    ul.list-container {
        width: 70%;
        margin: auto;
    }
}

/* MUI : lg size */
@media (min-width: 1200px) {
    ul.list-container {
        width: 60%;
        margin: auto;
    }
}

.divider {
    margin: 5px 0px 5px 0px;
}

ul.list-container {
    padding: 0px;
}
