.grid-container {
    padding: 27px;
}

.grid-container .open-playlist-pointer{
    cursor: pointer;
}

.grid-container .card {
    border: 2px solid #1e1e1e;
    box-sizing: border-box;
}

.grid-container .card:hover {
    border: 2px solid rgba(255, 255, 255, 0.08);
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.08);
}

.grid-container .card .card-actions {
    justify-content: end;
}

.grid-container .card-title,
.grid-container .card-description {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.divider {
    margin: 5px 0px 5px 0px;
}