.grid-container {
    padding: 27px;
}

.grid-container .open-playlist-pointer{
    cursor: pointer;
}

.grid-container .card {
    border: 1px solid #1e1e1e;
    box-sizing: border-box;
}

.grid-container .card:hover {
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.08);
}

.grid-container .card .card-actions {
    justify-content: end;
}

.grid-container .card-title,
.grid-container .card-description {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.divider {
    margin: 5px 0px 5px 0px;
}

/* MUI : xs size */
@media (min-width: 0px) {
    .grid-container {
        padding: 15px;
    }
}

/* MUI : sm size */
@media (min-width: 600px) {
    .grid-container {
        padding: 18px;
    }
}

/* MUI : md size */
@media (min-width: 900px) {
    .grid-container {
        padding: 22px;
    }
}

/* MUI : lg size */
@media (min-width: 1200px) {
    .grid-container {
        padding: 27px;
    }
}